<div class="sidebar">
  <ul>
    <li>
      <a routerLink="profile">
        <span class="material-symbols-outlined"> account_circle </span>
        Profile
      </a>
    </li>
    <li>
      <a routerLink="tasks">
        <span class="material-symbols-outlined"> book_5 </span>
        Tasks
      </a>
    </li>
    <li>
      <a routerLink="notifications">
        <span class="material-symbols-outlined"> notifications_unread </span>
        Notifications
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a routerLink="login">
        <span class="material-symbols-outlined"> logout </span>
        Log Out
      </a>
    </li>
  </ul>
</div>
