:host {
  display: flex;
  height: 100vh;
}

.body-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 100px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 4px;
  margin: 0 32px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}
